<!DOCTYPE html>
<html>
  <head>
    <title>SecondRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# font-awesome!!! %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<%# これが Layoutで、この中に他のが入る %>
  <body>
    <%# <main class="container mx-auto mt-28 px-5 flex"> %>
    <main>
      <% if flash[:notice] %>
      <div class="bg-green-700 w-full text-xl text-white p-6">
        <p class="notice"><%= notice %></p>
      </div>
      <% end %>
      <% if flash[:alert] %>
      <div class="bg-green-700 w-full text-xl text-white p-6">
        <p class="alert"><%= alert %></p>
      </div>
      <% end %>

      <%# recipegramを押すと、root_pathへ飛ぶ。文字にタグつけるなら、do endの方がいい %>
      <header class="my-2 mx-4 flex justify-between">
        <div>
          <%= link_to root_path do %>
            <h1 class="text-2xl font-serif">recipegram</h1>
          <% end %>
        </div>
        <div class="mt-2">
          <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :get, class: ""%>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, method: :get, class: ""%>
            <%= link_to "新規登録", new_user_registration_path, method: :get, class: ""%>
          <% end %>
        </div>
      </header>

      <%= yield %>
      <%# <h1 class="text-red-500 text-9xl">apple</h1> %>
    </main>
  </body>
</html>
